#about{
    width: 70%;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    h2{
        text-align: center;
        color:#4db5ff;
        font-weight: 200;
        margin:50px 0;
    }
    .about_container{
        display: flex;
        justify-content: space-between;
        .about_me{
            width: 350px;
            height: 350px;
            background: linear-gradient(45deg, transparent, #4db5ff, transparent);
            border-radius: 10px;
            .about_image{
                width: 350px;
                height: 350px;
                rotate: 10deg;
                transition: all 0.4s ease-in-out;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                &:hover{
                    rotate: 0deg;
                }
            }
        }
        .about_content{
            width: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .about_content-cards{
                display: flex;
                column-gap: 10px;
                width: 100%;
                .card{
                    width: 100%;
                    background-color: #2c2c6c;
                    height: 150px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    padding:30px;
                    justify-content: space-between;
                    align-items: center;
                    .icon{
                        color:#4db5ff;
                    }
                    h3{
                        color:#fff;
                        font-weight: 200;
                    }
                    p{
                        color:rgba(255, 255, 255, 0.6);
                    }
                }
            }
            .about_content-text{
                color:rgba(255, 255, 255, 0.6);
                line-height:1.8;
            }
            a{
                padding:10px 5px;
                color:#1f1f38;
                background-color:#4db5ff;
                text-decoration: none;
                width: 100px;
                text-align: center;
                border-radius: 5px;
                transition: all 0.4s ease-in-out;
                &:hover{
                    background-color: #fff;
                }
            }
        }
    }
}