*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: #1f1f38;
  background-image: url("./assets/images/bg-texture.png");
  font-family: 'Poppins', sans-serif;
}
